<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idealista.android.challenge.addetail">

    <application>
        <activity
            android:name=".ui.AdDetailActivity"
            android:theme="@style/AppTheme.Base">
        </activity>
    </application>
</manifest>
